@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree&family=Poppins&family=Tiro+Devanagari+Marathi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Bai+Jamjuree&family=Poppins&family=Tiro+Devanagari+Marathi&display=swap');

*
{
    margin: 0px;
    padding: 0px;
    font-size: 62.5%;
    box-sizing: border-box;
}
body
{
    font-size: 1.6rem;
}
nav
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.5rem 10.8rem;
    position: sticky;
}
.nav-block-1
{
    display: flex;
    gap: 1rem;
    
}
.inner-block-1
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#title
{
    color: #012555;
font-family: 'Bai Jamjuree', sans-serif;
font-size: 2.1714rem;
font-style: normal;
font-weight: 600;
line-height: 3.8rem; /* 175% */
letter-spacing: -0.0869rem;
}
.line
{
    width: 0.1rem;
height: 3.2rem;
background-color:#DADADA;;
}
a
{
    text-decoration: none;
}
.nav-linkss
{
    text-decoration: none;
    color: var(--Gray-2, #4F4F4F);
font-size: 1.6rem;
font-style: normal;
font-weight: 400;
line-height: 155%; /* 2.48rem */
letter-spacing: 0.016rem;
}
.nav-block-2
{
    display: flex;
    gap: 3rem;
    align-items: center;
    justify-content: space-around;
}
.optionss
{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
}
.login
{
    border-radius: 0.8rem;
border: 2px solid var(--primaryskyblue, #2F80ED);
display: flex;
padding: 1.5rem 3.6rem;
/* justify-content: center;
align-items: center; */
background-color: white;
gap: 1rem;
color: var(--primaryskyblue, #2F80ED);
font-family: ABeeZee;
font-size: 1.4rem;
font-style: italic;
font-weight: 400;
line-height: normal;
}
.login:hover
{
    cursor: pointer;
}
.blue-header
{
    background: var(--primaryskyblue, #2F80ED);
    padding: 0.8rem 56.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.blue-header p
{
    color: #FFF;
font-family: 'ABeeZee';
font-size: 1.4rem;
font-style: italic;
font-weight: 400;
line-height: 150%; /* 2.1rem */
letter-spacing: 0.028rem;
width: fit-content;
}
main
{
    padding-block: 9rem;
    display: flex;
    justify-content:space-around;
    align-items:center;
}
/*  main*/
.border
{
    border-color: black;
    border-style: solid;
}
main p
{
    color: var(--BLACK, #2B2F34);
font-family: ABeeZee;
font-size: 5rem;
font-style: italic;
font-weight: 400;
line-height: 130%; /* 6.5rem */
letter-spacing: -0.075rem;
}
#curriculum-text
{
    color: var(--textlabelcolorscharcoal, #595959);
font-size: 1.8rem;
font-style: normal;
font-weight: 400;
line-height: 130%; /* 2.34rem */
letter-spacing: 0.036rem;
}
b
{
    color: var(--BLACK, #2B2F34);
    font-family: ABeeZee;
    font-size: 5rem;
    font-style: italic;
    font-weight: 400;
    line-height: 130%; /* 6.5rem */
    letter-spacing: -0.075rem;
}
.container
{
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: 2rem;
}
tag
{
    color: #2f80ed;
    font-family: 'ABeeZee';
    font-size: 5rem;
    font-style: italic;
    font-weight: 400;
    line-height: 130%; /* 6.5rem */
    letter-spacing: -0.075rem;
}
.badges
{
    display: flex;
padding: 1.5rem 2rem;
align-items: flex-end;
gap: 3.4rem;
border-radius: 0.8rem;
border: 1px solid #E2E2E2;
background: #FFF;
box-shadow: 0px 2px 40px 0px rgba(0, 0, 0, 0.08);
}
.left-hand-main
{
    display: inline-flex;
flex-direction: column;
align-items: flex-start;
gap: 3.5rem;
}
.badgee
{
    display: flex;
width: 13.4rem;
height: 4.7rem;
align-items: center;
gap: 1.0214rem;
flex-shrink: 0;
}
.badge-info
{
    display: flex;
flex-direction: column;
align-items: flex-start;

}
.badge-info p:first-child
{
    color: var(--BLACK, #2B2F34);
font-family: 'ABeeZee';
font-size: 2rem;
font-style: italic;
font-weight: 400;
line-height: 130%; /* 2.6rem */
}
.badge-info p:last-child
{
    color: var(--Gray-2, #4F4F4F);
/* font-family: ?????; */
font-size: 1.2rem;
font-style: normal;
font-weight: 400;
line-height: 155%; /* 1.86rem */
letter-spacing: 0.012rem;
}
.left-hand-main>div:last-child p
{
    color: #525252;
/* font-family: ?????; */
font-size: 1.4rem;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 2.1rem */
}
.left-hand-main>div:last-child
{

    border-radius: 2.3rem;
background: #FFF;
box-shadow: 0px 2px 40px 0px rgba(0, 0, 0, 0.12);
padding: 1rem 2rem;
margin-top: 6.4rem;
}
/* login form */
.login-form
{
    display: inline-flex;
padding: 2.8rem 2.4rem 3.2rem 2.4rem;
flex-direction: column;
align-items: center;
gap: 2.8rem;
border-radius: 1.8rem;
background-color: #FFF;
box-shadow: 0px 25px 54px 0px rgba(0, 0, 0, 0.12);
}
.login-form>div:first-child>p:first-child
{
    color: var(--BLACK, #2B2F34);
text-align: center;
font-family: ABeeZee;
font-size: 3.2rem;
font-style: italic;
font-weight: 400;
line-height: 150%; /* 4.8rem */
letter-spacing: -0.048rem;
}
.login-form>div:first-child>p:last-child
{
    color: #818D9D;
    text-align: center;
    /* font-family: ?????; */
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 2.4rem */
}
input
{
    width: 36.6rem;
    padding: 1.4rem 0.6rem 1.4rem 1rem;
    border-radius: 0.8rem;
    /* background:  */
    /* text-decoration: none; */
    outline: none;
    border-style: none;
    background-color: #FAFAFA;
}
.input1
{
    margin-bottom: 1.4rem;
    /* background-image: url(dp.svg);
    background-repeat: no-repeat;
    padding-left: 30px; */
}
.login-form button
{display: flex;
    width: 36.7rem;
    padding: 1.4rem 0.6rem 1.4rem 1.6rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.4rem;
    gap: 0.2rem;
    border-style: none;
    border-radius: 0.8rem;
background: var(--New, linear-gradient(277deg, #992FED 0%, #2F80ED 100%));
}
.login-form button p
{
    color: var(--WHITE, #FFF);
font-family: ABeeZee;
font-size: 1.8rem;
font-style: italic;
font-weight: 400;
line-height: 150%; /* 2.7rem */
}
.login-form>div:last-child
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.login-form>div:last-child>p
{
    color: #818D9D;
text-align: center;
/* font-family: ?????; */
font-size: 1.4rem;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 2.1rem */
}

.login-form>div:last-child a
{color: var(--primaryskyblue, #2F80ED);
   text-decoration: none;
   font-size: 1.4rem;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 2.1rem */
}
input::placeholder
{color: var(--textlabelcolorsfadeddenimblue, #8393A9);
    /* font-family: ?????; */
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 2.4rem */
}
input
{
    font-size: 1.6rem;
}
#section
{
    display: flex;
padding: 8rem 0rem 7.8rem 0rem;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 6rem;
background-color: #ECF8FF;
}
.courses-heading-section p
{
    text-align: center;
    font-family:'ABeeZee';
    font-size: 2rem;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.16rem;
    text-transform: uppercase;
    background: var(--New, linear-gradient(277deg, #992FED 0%, #2F80ED 100%));
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.courses-heading-section h2
{
    color: #2F80ED;
text-align: center;
font-family: 'ABeeZee';
font-size: 3.6rem;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 5.4rem */
letter-spacing: -0.054rem;
}
.course-cards
{
    display: flex;
align-items: flex-start;
gap: 2.1rem;
}
.cardd
{
    border-radius: 0.9rem;
border: 2px solid var(--primaryskyblue, #2F80ED);
background-color: #FFF;
width: 49.8rem;
display: flex;
flex-direction: column;
justify-content: center;
padding-block: 2.3rem;
}
.card-info
{
    display: inline-flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 1.2rem;
}
.course-title
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.course-title h2
{
    color: var(--BLACK, #2B2F34);
font-family: "ABeeZee";
font-size: 2.6rem;
font-style: italic;
font-weight: 400;
line-height: normal;
}
.course-title img
{
    height: 2.6rem;
    width: 2.6rem;
}
.card-info>div:nth-child(2)
{
    display: flex;
    gap: 1rem;
}
.card-info span
{
    color: #1D78B0;

    /* font-family: ?????; */
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: #E0F3FF;;
    padding: 1rem 1rem;
}
.card-info p
{
    color: #565656;

/* font-family: ?????; */
font-size: 1.4rem;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 2.1rem */
margin-bottom: 2rem;
}
.details
{
    display: flex;
flex-direction: column;
justify-content: center;
gap: 1.8rem;
}
.frame1
{
display: flex;
align-items: center;
justify-content: space-around;
gap: 7.1rem;
}
.frame1 span ,.frame1 p
{
    color: #000;
/* font-family: ?????; */
font-size: 1.6rem;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.032rem;
}
.inside-frame-sub
{
    display: flex;
    justify-content: center;
}
.frame1 img
{
    height: 2.2rem;
    width: 2.2rem;
}
.hr
{
    margin-right: 20px;
    margin-left: 20px;
    color:rgba(0, 0, 0, 0.20);;
}
.button-groups
{   margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;

}
.button-groups img
{
    height: 2.2rem;
    width: 2.2rem;
 
}

.cardd button
{
    display: flex;
width: 20.3rem;
padding: 1.4rem 0.6rem;
justify-content: center;
align-items: center;
gap: 1rem;
}
.button1
{
    border-radius: 0.8rem;
border: 1px solid var(--primaryskyblue, #2F80ED);
background: #FFF;
}
.button1 p
{
    color: var(--primaryskyblue, #2F80ED);
font-family: ABeeZee;
font-size: 1.8rem;
font-style: italic;
font-weight: 400;
line-height: 150%; /* 2.7rem */
}
.button2
{
    border-radius: 0.8rem;
background: var(--primaryskyblue, #2F80ED);
border: none;
}
.button2 p
{
    color: var(--WHITE, #FFF);
font-family: ABeeZee;
font-size: 1.8rem;
font-style: italic;
font-weight: 400;
line-height: 150%; /* 2.7rem */
}

#intermediate
{
    border: none;
}

#nav-1{
    position: fixed;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    top: 0px;
}
.new-batch{
    margin-top: 0px;
}
.arrow{
    position: relative;
    overflow: -moz-hidden-unscrollable;
    top: -5px;
    left: -60px;
}
.card-0{
    width: 400px;
    position: static;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.card-0-info{
    background-color: rgb(232, 245, 245);
    border-radius: 10px;
}
.card-0-name{
    border: none;
    width: 250px;
    height: 40px;
    background-color: rgb(232, 245, 245);
}
.card-0-number{
    border: none;
    width: 250px;
    height: 40px;
    background-color: rgb(232, 245, 245);
}
.card-0>button{
    margin-top: 15px;
    background:linear-gradient(270deg,#992FED,#2F80ED);
    border: none;
    border-radius: 10px;
    width: 300px;
    height: 60px;
}
.card-1{
    width: 500px;
    height: 550px;
    border-radius: 50px;
    border: 2px solid #2F80ED;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    
}
.btn-1{
    border-color: #2F80ED;
    width: 200px;
    height: 50px;
    border-radius: 15px;

}
.btn-2{
    border-color: #2F80ED;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background-color: #2F80ED;
}
.btn-3{
    border-color: #2F80ED;
    width: 220px;
    height: 50px;
    border-radius: 5px;
    background-color: #2F80ED;
    color: var(--WHITE, #FFF);
font-family: ABeeZee;
font-size: 2.2rem;
font-style: italic;
font-weight: 400;
line-height: 150%; /* 2.7rem */
}
.card-main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card-2{
    width: 350px;
    height: fit-content;
    margin: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    border: 1px solid rgb(131, 129, 129);
    border-radius: 10px;
}
#over
{

    text-align: center;
font-family: ABeeZee;
font-size: 1.6rem;
font-style: italic;
font-weight: 400;
line-height: normal;
letter-spacing: 0.128rem;
text-transform: uppercase;
}
#top-mnc
{
    color: var(--BLACK, #2B2F34);
text-align: center;
font-family: ABeeZee;
font-size: 4.2rem;
font-style: italic;
font-weight: 400;
line-height: 150%; /* 6.3rem */
letter-spacing: -0.063rem;
}
#software-eng
{
    color: var(--primaryskyblue, #2F80ED);
font-family: ABeeZee;
font-size: 4.2rem;
font-style: italic;
font-weight: 400;
line-height: 150%;
letter-spacing: -0.063rem;
}
#lakhs
{
    color: var(--textlabelcolorscharcoal, #595959);
/* font-family: ?????; */
font-size: 1.8rem;
font-style: normal;
font-weight: 400;
line-height: 130%; /* 2.34rem */
letter-spacing: 0.036rem;
}
#wall
{
    color: var(--BLACK, #2B2F34);
text-align: center;
font-family: ABeeZee;
font-size: 4.2rem;
font-style: italic;
font-weight: 400;
line-height: 150%; /* 6.3rem */
letter-spacing: -0.063rem;
}
#say-it
{
    color: var(--textlabelcolorscharcoal, #595959);
/* font-family: ?????; */
font-size: 2.3rem;
font-style: normal;
font-weight: 400;
line-height: 130%; /* 2.34rem */
letter-spacing: 0.036rem;
}
.name
{
    color: #000;

font-family: ABeeZee;
font-size: 3.6rem;
font-style: italic;
font-weight: 400;
line-height: 150%; /* 3.3rem */
}
.desc
{
    color: #676767;

/* font-family: ?????; */
font-size: 2.6rem;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 2.4rem */
}
@media screen and (max-width:480px){
    .nav-img-1{
        width: 110px;
    }
    .nav-img-2{
        width: 65px;
    }
    #hero-img>img{
        margin-bottom: 30px;
    }
    .arrow{
        display: none;
    }
    .card-0{
        margin-top: 20px;
    }
    .card-0>button{
        width: 200px;
    }
    .card-0-name{
        width: 180px;
    }
    .card-0-number{
        width: 180px;
    }
    #Beginner{
        display: none;
    }
    #Intermidiate{
        display: none;
    }
    .card-1{
        width: fit-content;
        height: fit-content;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #beg-btn{
        display: flex;
        margin-top: 10px;
        margin-bottom: 20px;
        flex-direction: column;
        justify-content: center;
    }
    #int-btn{
        display: flex;
        margin-top: 10px;
        margin-bottom: 19px;
        flex-direction: column;
        justify-content: center;
    }
   
    #scroll-container{
        display: none;
    }


}